/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  margin-left: 1rem;
}

/* Utility Classes */

.flex {
  display: flex;
}
.between {
  justify-content: space-around;
}
.gap {
  padding-left: 1rem;
}
.hide {
  display: none;
}

/* Geeral Styling */

body {
  margin: 0;
  padding: 0;
  background-color: hsl(205, 100%, 96%);
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
}

nav {
  background-color: white;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mid a {
  color: #102a42;
}
.nav-mid a:hover {
  color: #49a6e9;
}

.nav-right {
  font-size: 1.5 rem;
}
.nav-right a {
  color: #49a6e9;
}

.nav-phone ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

.nav-phone a {
  color: #102a42;
}

.nav-phone li:hover {
  width: 100%;
  background-color: #49a6e933;
}

.hide-desktop {
  display: none;
}

@media screen and (max-width: 900px) {
  .between {
    justify-content: space-between;
  }

  .hideOnPhone {
    display: none;
  }

  .showOnPhone {
    display: inline-block;
  }
}
