/* Reset */

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  font: inherit;
}

h1,
h2 {
  line-height: 1;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Utility Classes */

section {
  padding: 1rem 0;
}

.container {
  max-width: 35rem;
  margin: 0 auto;
  text-align: center;
}
.flow > * + * {
  margin-top: 0.4rem;
}

/* General Body Styles */

body {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: rgba(224, 255, 255, 0.34);
}

h1 {
  margin: 0 auto;
  max-width: fit-content;
  padding-bottom: 1rem;
  border-bottom: 4px solid lightskyblue;
  border-radius: 4px 4px 4px 4px;
}

.img-container {
  margin: 0 auto;
  max-height: 25rem;
  max-width: 25rem;
  border-radius: 100%;
  overflow: hidden;
}

.author-img {
  object-position: 20% 80%;
  object-fit: cover;
}

.author-info p {
  color: lightskyblue;
}
.next-btn,
.previous-btn,
button {
  color: lightskyblue;
  cursor: pointer;
}

button {
  border: 1px solid lightskyblue;
  border-radius: 0.5rem;
}
